* {
	margin: 0;
}
html,body{
  height: 100%;
}
.conteudo {
	background: url(../app/img/banner.jpg);
  height: 100%;
  min-height: 100%;
  height:100%;
  width:100%;
  overflow:hidden;
	background-repeat: no-repeat;
	background-repeat: no-repeat;
  background-size: 100% 100%;
}

.footer{
  height:140px;
  background-color:#272833;
  color: #bdbdbd;
}

.corpo {
  height: 95%;
	color: #fff;
	font-family: sans-serif;
	padding-top: 15%;
	line-height: 200%;
}

.overlay {
	 z-index: -1;
	 box-shadow: inset 0 0 0 1000px rgba(0,0,0,.9);
}

.menu {
  height: 5%;
	padding-top: 1%;
	background-color: #212121   ;
	/*background-color: #e57373;*/
	font-family: sans-serif;
	color: #bdbdbd ;
}

.phrase {
	letter-spacing: 2px;
	font-family: arial;
	font-size: 22px;
	line-height: 200%;
}

.button {
	background-color: #00e676;
	border-radius: 4px;
	font-family: Helvetica;
	padding-right: 20px;
	padding-left:20px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 14px;
	border: none;
	color: #000000;

}

.button:hover {
	background-color: #69f0ae;
	cursor: pointer;
	color: #000000;
}

li {
  display: inline-block;
}

.icone {
  font-size: 30px;
  color: #color: #bdbdbd;
  padding-top: 20px;
}

.direitos {
  padding-top: 50px;
  font-family: sans-serif;
}

@media screen and (min-width: 300px) and (max-width: 359px){
	.button {
			font-size: 16px;
			padding-right: 22px;
			padding-left: 22px;
			padding-top: 17px;
			padding-bottom: 17px;
	}

	.phrase {
		font-size: 16px;
	}

	.menu {
		font-size: 18px;
	}

	.footer{
		font-size: 16px;
	}

	.direitos {
		padding-top: 50px;
	}

	.icone {
		font-size: 28px;
		padding-top: 10px;
		padding-right: 40px;
	}

	.corpo {
		padding-top: 45%;
	}
}

@media screen and (max-width: 640px) and (min-width: 360px) {
    .button {
        font-size: 20px;
				padding-right: 30px;
				padding-left:30px;
				padding-top: 25px;
				padding-bottom: 25px;
    }

		.phrase {
			font-size: 20px;
		}

		.menu {
			font-size: 24px;
		}

		.footer{
			font-size: 20px;
		}

		.direitos {
		  padding-top: 40px;
		}

		.icone {
		  font-size: 32px;
		  padding-top: 5px;
			padding-right: 40px;
		}

		.corpo {
			padding-top: 45%;
		}
}

@media screen and (max-width: 850px) and (min-width: 641px) {

		.button {
        font-size: 20px;
				padding-right: 30px;
				padding-left:30px;
				padding-top: 25px;
				padding-bottom: 25px;
    }

		.phrase {
			font-size: 24px;
		}

		.menu {
			font-size: 26px;
		}

		.footer{
			font-size: 24px;
		}

		.direitos {
		  padding-top: 30px;
		}

		.icone {
		  font-size: 32px;
		  padding-top: 10px;
			padding-right: 40px;
		}

		.corpo {
			padding-top: 35%;
		}
}

@media screen and (max-width: 1200px) and (min-width: 851px) {

}
